{% load static %}

<div class="card mb-3 shadow-sm">
    <div class="row g-0">
        <div class="col-12 col-md-2 col-3 d-flex flex-row flex-column align-items-center py-3 px-2 pb-0">
            <img src="{% static 'img/avatar.png' %}" width="55" height="55" class="rounded-circle mb-2" alt="Avatar">
            <div class="input-group input-group-sm mb-2 flex-nowrap justify-content-center">
                <button class="btn btn-outline-success px-2" type="button">+</button>
                <input type="text" class="form-control text-center px-0 rating-input" value="{{ question.rating }}" readonly>
                <button class="btn btn-outline-danger px-2" type="button">-</button>
            </div>
        </div>

        <div class="col-12 col-md-10">
            <div class="card-body pt-0 pt-md-3">
                <h5 class="card-title">
                    <a href="{% url 'question' question_id=question.id %}" class="text-decoration-none">{{ question.title }}</a>
                </h5>
                <p class="card-text">
                    {{ question.text }}
                </p>

                <div class="d-flex justify-content-between align-items-end mt-3">
                    <div>
                        <a href="{% url 'question' question_id=question.id %}" class="text-decoration-none me-3">Answer: {{ question.answers_count }}</a>
                        <span class="text-muted me-1">Tags:</span>
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag.name %}" class="badge bg-secondary text-decoration-none">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="text-muted small">
                        {{ question.author }} | {{ question.created_at|date:"d.m.Y H:i" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
